// Survey
label.required {
    &:after {
        content: ' *';
        color: red;
    }
}

.images {
    margin: 1em 0;

    > * {
        display: inline-block;
        vertical-align: top;
        & + * {
            margin-left: 1em;
        }
    }
}
